<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Upload Image</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <main id="app">
            <div class="box">
                <h1>Welcome to the Image Classifier!</h1>
            </div>
            <form action="/predict" method="POST" enctype="multipart/form-data">
                <div class="upload-group">
                    <input type="file" name="image" accept="image/*" required>
                    <!-- <div id="file-name" class="file-name"></div> -->
                    <button type="submit">Upload and Predict</button>
                </div>
            </form>


            <div id="instructions">
                <p>
                    <strong>Instructions:</strong> Upload a picture to see a prediction!
                </p>
            </div>
        </main>
    
    </body>
</html>